# Documentacion de Pandas

https://pandas.pydata.org/docs/user_guide/10min.html

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('archive.zip', compression='zip', header=0, sep=',', quotechar='"')

In [ ]:
df.head()
df.info(memory_usage="deep")

In [ ]:
df.loc[~df.license.isnull()]

In [ ]:
#low memory solo funciona con el engine de C para numpy.  Por defecto pandas usa pyarrow.  Tambien esta el motor de python
#que es mas flexible pero mas lento
#Pandas no soporta fechas en su casting desde csv, hay que user el parametro parse_dates para indicar que columnas son fechas
parse_dates=['last review']
dtypes = {'license': str}
df = pd.read_csv('archive.zip', compression='zip', header=0, sep=',', quotechar='"', dtype=dtypes, parse_dates=parse_dates)
df.head()

In [ ]:
df.info(memory_usage="deep")

In [ ]:
#Conteo de nulls por columna
df_nulls = df.isnull().sum().sort_values(ascending=False).to_frame('count')
#Conteo total de filas
df_nulls['total'] = df.shape[0]
#% de columnas vacias
df_nulls['%'] = df_nulls['count']/df_nulls['total']
df_nulls

In [ ]:
df.drop('license', axis=1, inplace=True)

In [ ]:
df.info(memory_usage="deep")

In [ ]:
#Revisar los outliers con un simple min y max
df.agg([min, max])

In [ ]:
df['price'] = pd.to_numeric(df['price'].str.replace('$','', regex=False), errors='coerce')

In [ ]:
df['service fee'] = pd.to_numeric(df['service fee'].str.replace('$','', regex=False), errors='coerce')

In [ ]:
df.agg([min, max])

In [ ]:
df[df['last review'].apply(lambda x: x.year) > 2022]

In [ ]:
df = df[df['last review'].apply(lambda x: x.year) <= 2022]
df

In [ ]:
#Revisar duplicados
df.duplicated().sum()

In [ ]:
df.duplicated(subset=['host name', 'lat', 'long']).sum()

In [ ]:
df.drop_duplicates(subset=['host name', 'lat', 'long'], inplace=True)

In [ ]:
df.info(memory_usage="deep")

In [ ]:
df['country'].unique()

In [ ]:
df['country code'].unique()

In [ ]:
df['neighbourhood group'].unique()

In [ ]:
df.loc[df['country'].isnull(), 'country'] = 'United States'
df.loc[df['country code'].isnull(), 'country code'] = 'US'

In [ ]:
df_countries = pd.read_csv('countries.csv', header=0, sep=',', quotechar='"')
df_countries

In [ ]:
df_countries.drop('English short name lower case', axis=1, inplace=True)
df_countries

In [ ]:
#unir ambos datasets
merged_df = pd.merge(df, df_countries, left_on='country code', right_on='Alpha-2 code',how="inner")
merged_df

In [143]:
df.groupby(by=['country']).mean()

,id,host id,lat,long,Construction year,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
country,,,,,,,,,,,,,
United States,2.017273e+07,4.922996e+10,40.727306,-73.947879,2012.496843,524.495159,125.02622,8.209837,33.113084,1.395684,3.320039,7.728671,153.590129

In [144]:
df.groupby(by=['neighbourhood group']).mean()

,id,host id,lat,long,Construction year,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
neighbourhood group,,,,,,,,,,,,,
Bronx,2.405612e+07,4.899466e+10,40.849142,-73.881995,2012.546291,528.650936,126.122161,5.544895,35.856705,1.720716,3.401109,2.759975,193.362577
Brooklyn,1.949310e+07,4.926755e+10,40.683050,-73.949929,2012.542707,525.661360,125.343657,7.607768,34.382396,1.332203,3.303837,2.907133,145.375133
Manhattan,1.954596e+07,4.928594e+10,40.765630,-73.974206,2012.463107,523.209116,124.408627,9.496337,29.818810,1.287736,3.310478,12.911514,151.035382
Queens,2.308759e+07,4.895372e+10,40.727384,-73.864982,2012.476276,523.834945,125.721043,6.863229,37.759969,1.819797,3.371998,7.997448,173.882368
Staten Island,2.378716e+07,4.958054e+10,40.612391,-74.104807,2012.103020,523.967880,124.375445,5.826786,41.143617,1.721223,3.443850,2.566607,203.104796
brookln,1.008516e+06,2.680241e+10,40.668290,-73.987790,2010.000000,580.000000,116.000000,4.000000,167.000000,1.340000,4.000000,3.000000,47.000000
manhatan,1.011277e+06,7.386253e+10,40.741920,-73.995010,2008.000000,460.000000,NaN,1.000000,260.000000,2.120000,3.000000,1.000000,325.000000

In [ ]:
df.groupby(by=['neighbourhood group']).mean()