In [80]:
import pandas as pd

In [67]:
df = pd.read_csv('archive.zip', compression='zip', header=0, sep=',', quotechar='"')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [68]:
df.head()
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 114.2 MB

In [28]:
df.loc[~df.license.isnull()]

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
11114,7139598,"Cozy 1 BR on Bedford Avenue, Wburg",73023181304,verified,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,...,$140,1.0,1.0,1/3/2016,0.02,1.0,1.0,191.0,"Dear Guest, Thank you for appreciating that I ...",41662/AL
72947,41289964,"Cozy 1 BR on Bedford Avenue, Wburg",25804773951,unconfirmed,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,...,$140,1.0,1.0,1/3/2016,0.02,1.0,1.0,0.0,NaN,41662/AL

In [69]:
#low memory solo funciona con el engine de C para numpy.  Por defecto pandas usa pyarrow.  Tambien esta el motor de python
#que es mas flexible pero mas lento
#Pandas no soporta fechas en su casting desde csv, hay que user el parametro parse_dates para indicar que columnas son fechas
parse_dates=['last review']
dtypes = {'license': str}
df = pd.read_csv('archive.zip', compression='zip', header=0, sep=',', quotechar='"', dtype=dtypes, parse_dates=parse_dates)
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaT,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,2019-07-05,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [70]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   datetime64[ns]
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: datetime64[ns](1), float64(9), int64(2), object(14)
memory usage: 109.0 MB

In [56]:
#Conteo de nulls por columna
df_nulls = df.isnull().sum().sort_values(ascending=False).to_frame('count')
#Conteo total de filas
df_nulls['total'] = df.shape[0]
#% de columnas vacias
df_nulls['%'] = df_nulls['count']/df_nulls['total']
df_nulls

                                 count   total         %
license                         102597  102599  0.999981
house_rules                      52131  102599  0.508104
last review                      15893  102599  0.154904
reviews per month                15879  102599  0.154768
country                            532  102599  0.005185
availability 365                   448  102599  0.004367
minimum nights                     409  102599  0.003986
host name                          406  102599  0.003957
review rate number                 326  102599  0.003177
calculated host listings count     319  102599  0.003109
host_identity_verified             289  102599  0.002817
service fee                        273  102599  0.002661
NAME                               250  102599  0.002437
price                              247  102599  0.002407
Construction year                  214  102599  0.002086
number of reviews                  183  102599  0.001784
country code                       131  102599  0.001277
instant_bookable                   105  102599  0.001023
cancellation_policy                 76  102599  0.000741
neighbourhood group                 29  102599  0.000283
neighbourhood                       16  102599  0.000156
long                                 8  102599  0.000078
lat                                  8  102599  0.000078
id                                   0  102599  0.000000
host id                              0  102599  0.000000
room type                            0  102599  0.000000

In [71]:
df.drop('license', axis=1, inplace=True)

In [108]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86701 entries, 0 to 102597
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              86701 non-null  int64
 1   NAME                            86488 non-null  object
 2   host id                         86701 non-null  int64
 3   host_identity_verified          86455 non-null  object
 4   host name                       86375 non-null  object
 5   neighbourhood group             86676 non-null  object
 6   neighbourhood                   86685 non-null  object
 7   lat                             86694 non-null  float64
 8   long                            86694 non-null  float64
 9   country                         86212 non-null  object
 10  country code                    86585 non-null  object
 11  instant_bookable                86608 non-null  object
 12  cancellation_policy             86634 non-null  object
 13  room type                       86701 non-null  object
 14  Construction year               86518 non-null  float64
 15  price                           71293 non-null  float64
 16  service fee                     86460 non-null  float64
 17  minimum nights                  86357 non-null  float64
 18  number of reviews               86642 non-null  float64
 19  last review                     86701 non-null  datetime64[ns]
 20  reviews per month               86688 non-null  float64
 21  review rate number              86413 non-null  float64
 22  calculated host listings count  86441 non-null  float64
 23  availability 365                86522 non-null  float64
 24  house_rules                     41023 non-null  object
dtypes: datetime64[ns](1), float64(11), int64(2), object(11)
memory usage: 80.8 MB

In [76]:
#Revisar los outliers con un simple min y max
df.agg([min, max])

,id,host id,lat,long,instant_bookable,room type,Construction year,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365
min,1001254,123600518,40.49979,-74.24984,False,Entire home/apt,2003.0,-1223.0,0.0,2012-07-11,0.01,1.0,1.0,-10.0
max,57367417,98763129024,40.91697,-73.70522,True,Shared room,2022.0,5645.0,1024.0,2058-06-16,90.00,5.0,332.0,3677.0

In [104]:
df['price'] = pd.to_numeric(df['price'].str.replace('$','', regex=False), errors='coerce')

In [106]:
df['service fee'] = pd.to_numeric(df['service fee'].str.replace('$','', regex=False), errors='coerce')

In [107]:
df.agg([min, max])

,id,host id,lat,long,instant_bookable,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365
min,1001254,123600518,40.50456,-74.24984,False,Entire home/apt,2003.0,50.0,10.0,-365.0,1.0,2012-07-11,0.01,1.0,1.0,-10.0
max,57367417,98763129024,40.91697,-73.70522,True,Shared room,2022.0,999.0,240.0,5645.0,1024.0,2022-05-21,90.00,5.0,332.0,3677.0

In [74]:
df[df['last review'].apply(lambda x: x.year) > 2022]

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
127,1071478,Garden studio in the Upper East Sid,77172555024,unconfirmed,Miller,Manhattan,Upper East Side,40.77800,-73.94822,United States,...,$571,$114,5.0,21.0,2024-08-15,0.19,4.0,NaN,395.0,"Dear Guests, Welcome to 62 Cornwall St! I hope..."
191,1106825,LUX APT IN TIMES SQUARE NEW BUILDING,93725364475,unconfirmed,Aiden,Manhattan,Hell's Kitchen,40.76307,-73.99665,United States,...,$539,$108,NaN,41.0,2025-06-26,0.38,2.0,1.0,NaN,"You will be sharing a bathroom, so you must be..."
255,1142173,Beautiful Landmarked Duplex,87944779917,NaN,Baker,Brooklyn,Greenpoint,40.72945,-73.95511,United States,...,$842,$168,3.0,124.0,2058-06-16,1.22,4.0,3.0,230.0,No rules per say. I just ask that you respect ...
318,1176967,NaN,70084472212,verified,Barnes,Brooklyn,Greenpoint,40.72488,-73.95018,United States,...,$920,$184,2.0,1.0,2026-03-28,0.01,3.0,1.0,73.0,Check-In is 3pm. Check-Out is 12 Noon. In or...
483,1268097,Modern Space in Charming Pre-war,13746585241,verified,Adelaide,Manhattan,Harlem,40.82411,-73.94934,United States,...,$721,$144,2.0,41.0,2040-06-16,0.43,3.0,2.0,47.0,NaN

In [82]:
df = df[df['last review'].apply(lambda x: x.year) <= 2022]
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$966,$193,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$142,$28,30.0,45.0,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$368,$74,30.0,270.0,2019-07-05,4.64,4.0,1.0,322.0,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$204,$41,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$577,$115,3.0,74.0,2019-06-22,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102588,6089124,"Loft Space for Events, Meetings & Shoots",85557432222,unconfirmed,Kalin,Manhattan,Flatiron District,40.74068,-73.98999,United States,...,$618,$124,1.0,177.0,2019-06-29,3.78,4.0,1.0,410.0,Keep the apartment clean and damage free please.
102591,6090781,Columbus Ave Apt 1 block from Park,50908010324,verified,Lawrence,Manhattan,Upper West Side,40.77408,-73.98181,United States,...,"$1,139",$228,5.0,17.0,2019-01-04,0.35,5.0,1.0,134.0,#NAME?
102593,6091885,"Welcoming, Clean, Cheap on St Marks",33188605074,verified,Felipe,Manhattan,East Village,40.72826,-73.98422,United States,...,"$1,099",$220,1.0,8.0,2015-09-06,0.16,4.0,2.0,152.0,* No smoking indoors. * No pets * No loud/la...
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$837,$167,1.0,1.0,2015-07-06,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$546,$109,2.0,5.0,2015-10-11,0.10,3.0,1.0,386.0,NaN

In [88]:
#Revisar duplicados
df.duplicated().sum()

480

In [89]:
df.duplicated(subset=['host name', 'lat', 'long']).sum()

29511

In [109]:
df.drop_duplicates(subset=['host name', 'lat', 'long'], inplace=True)

In [110]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57190 entries, 0 to 102049
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              57190 non-null  int64
 1   NAME                            57012 non-null  object
 2   host id                         57190 non-null  int64
 3   host_identity_verified          57006 non-null  object
 4   host name                       56939 non-null  object
 5   neighbourhood group             57165 non-null  object
 6   neighbourhood                   57174 non-null  object
 7   lat                             57183 non-null  float64
 8   long                            57183 non-null  float64
 9   country                         56888 non-null  object
 10  country code                    57112 non-null  object
 11  instant_bookable                57112 non-null  object
 12  cancellation_policy             57138 non-null  object
 13  room type                       57190 non-null  object
 14  Construction year               57024 non-null  float64
 15  price                           46999 non-null  float64
 16  service fee                     56979 non-null  float64
 17  minimum nights                  56887 non-null  float64
 18  number of reviews               57161 non-null  float64
 19  last review                     57190 non-null  datetime64[ns]
 20  reviews per month               57178 non-null  float64
 21  review rate number              56990 non-null  float64
 22  calculated host listings count  57071 non-null  float64
 23  availability 365                57013 non-null  float64
 24  house_rules                     25931 non-null  object
dtypes: datetime64[ns](1), float64(11), int64(2), object(11)
memory usage: 52.9 MB

In [119]:
df['country'].unique()

array(['United States'], dtype=object)

In [117]:
df['country code'].unique()

array(['US', nan], dtype=object)

In [121]:
df['neighbourhood group'].unique()

array(['Brooklyn', 'Manhattan', 'brookln', 'manhatan', 'Queens', nan,
       'Staten Island', 'Bronx'], dtype=object)

In [118]:
df.loc[df['country'].isnull(), 'country'] = 'United States'
df.loc[df['country code'].isnull(), 'country code'] = 'US'

In [128]:
df_countries = pd.read_csv('countries.csv', header=0, sep=',', quotechar='"')
df_countries

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Ã…land Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [129]:
df_countries.drop('English short name lower case', axis=1, inplace=True)
df_countries

    Alpha-2 code Alpha-3 code  Numeric code     ISO 3166-2
0             AF          AFG             4  ISO 3166-2:AF
1             AX          ALA           248  ISO 3166-2:AX
2             AL          ALB             8  ISO 3166-2:AL
3             DZ          DZA            12  ISO 3166-2:DZ
4             AS          ASM            16  ISO 3166-2:AS
..           ...          ...           ...            ...
241           WF          WLF           876  ISO 3166-2:WF
242           EH          ESH           732  ISO 3166-2:EH
243           YE          YEM           887  ISO 3166-2:YE
244           ZM          ZMB           894  ISO 3166-2:ZM
245           ZW          ZWE           716  ISO 3166-2:ZW

[246 rows x 4 columns]

In [136]:
#unir ambos datasets
#pd.merge(df, df_countries, left_on='country code', right_on='Alpha-2 code',how="inner")
df.join(df_countries, left_on='country code', right_on='Alpha-2 code',how="inner")

TypeError: join() got an unexpected keyword argument 'left_on'